 <!--Main Header -->
<header class="main-header">

    <!--&lt;!&ndash; Logo &ndash;&gt;-->
    <!--<a href="#" class="logo">-->
        <!--&lt;!&ndash; mini logo for sidebar mini 50x50 pixels &ndash;&gt;-->
        <!--<span class="logo-mini"><b>A</b>P</span>-->
        <!--&lt;!&ndash; logo for regular state and mobile devices &ndash;&gt;-->
        <!--<span class="logo-lg"><b>Admin</b>Panel</span>-->
    <!--</a>-->

    <!-- Header Navbar -->
    <nav class="navbar" role="navigation">
        <!-- Sidebar toggle button-->
        <!--Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <a (click)="logout()" class="btn btn-default btn-flat">خروج</a>
                    <!-- Menu Toggle Button -->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--&lt;!&ndash; The user image in the navbar&ndash;&gt;-->
                        <!--<img src="{{currentUserImgd}}" class="user-image" alt="User Image">-->
                        <!--&lt;!&ndash; hidden-xs hides the username on small devices so only the image appears. &ndash;&gt;-->
                        <!--<span class="hidden-xs">{{currentUserNamed}}</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--&lt;!&ndash; The user image in the menu &ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="user-header">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img src="{{currentUserImgd}}" class="img-circle" alt="{{currentUserNamed}}">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                                <!--&lt;!&ndash;{{currentUserNamed}} - کاربر&ndash;&gt;-->
                                <!--&lt;!&ndash;<small></small>&ndash;&gt;-->
                            <!--&lt;!&ndash;</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--<li class="user-footer">-->
                            <!--<div class="pull-left">-->
                                <!--&lt;!&ndash;<a href="#" class="btn btn-default btn-flat">Profile</a>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="pull-right">-->
                                <!--<a (click)="logout()" class="btn btn-default btn-flat">خروج</a>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                </li>

            </ul>
        </div>
    </nav>
</header>
